/* #1 Regular Weight */
@font-face {
    font-family: "Economica";
    font-style: normal;
    font-weight: normal; 
    src: url("Economica-Regular.ttf");
}

/* #2 Bold Weight */
@font-face {
    font-family: "Economica";
    font-style: normal;
    font-weight: bold;
    src: url("Economica-Bold.ttf");
}

/* #3 Italic Style */
@font-face {
    font-family: "Economica";
    font-style: italic;
    font-weight: normal;
    src: url("Economica-Italic.ttf");
}

/* #4 Bold Weight, Italic Style */
@font-face {
    font-family: "Economica";
    font-style: italic;
    font-weight: bold;
    src: url("Economica-BoldItalic.ttf");
}