each variant in variants()
    // _title(variant)
    @font-face
        font-family: family
        font-style: _style(variant)
        //font-weight: _weight(variant)
        //src: url(_src(variant))
