
for variant in _variants
    /* _get('title', variant) */
    @font-face
        font-family: family
        font-style: _get('style', variant)
        font-weight: _get('weight', variant)
        src: url(_get('src', variant))
